<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="civox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <civox.Properties.Settings>
            <setting name="LpuLocation" serializeAs="String">
                <value>C:\LPU</value>
            </setting>
            <setting name="LpuCode" serializeAs="String">
                <value>270019</value>
            </setting>
            <setting name="FomsCode" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="OKATO" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="Pediatric" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDocument" serializeAs="String">
                <value>14</value>
            </setting>
        </civox.Properties.Settings>
    </userSettings>
</configuration>